<div id=<%="question-#{question.question.id}"%> class="question item">
    <%= form.fields_for question,
                 index: question.id do |field| %>
      <div class="content">
        <%= "#{question_counter + 1}, #{question.question.content}" %>
      </div>
      <div class= "answer-collect">
        <% if question.question.single_choice? %>
          <%= field.collection_radio_buttons(set_method_fields_for(question.question),
                                             question.question.answers,
                                             :id, :content) do |answer| %>
            <div class="answer <%= set_correct_class(question, answer) %>">
              <%= answer.radio_button check_disable %>
              <p><%= answer.text %></p>
            </div>
          <% end %>
        <% else %>
          <%= field.collection_check_boxes(set_method_fields_for(question.question),
                                             question.question.answers,
                                             :id, :content) do |answer| %>
            <div class="answer <%= set_correct_class(question, answer) %>">
              <%= answer.check_box check_disable %>
              <p><%= answer.text %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <% unless @test.doing? %>
        <div class="mt-2">
          <% if question_passed? question %>
            <span class="label label-success f-md"><%= t "correct" %></span>
          <% else %>
            <span class="label label-danger f-md"><%= t "wrong" %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>
