<% provide :title, t(".title") %>
<div class="vertical-center my-1 d-flex justify-between">
  <h3 style="display: inline-block;"><%= t ".question_list" %></h3>
  <div>
    <%= link_to t(".create_question"), new_supervisor_question_path, class: "btn btn-primary" %>
    <%= link_to raw("<span class='glyphicon glyphicon-open'></span> #{t(".export_all_questions")}"),
                supervisor_questions_path(format: :xlsx),
                class: "btn btn-success" %>
  </div>
</div>

<%= render "questions_filter" %>

<table class="table mt-1">
  <thead>
  <tr class="info">
    <th class="col-md-2"><%= sort_link @query, :created_at %></th>
    <th class="col-md-6"><%= Question.human_attribute_name("content") %></th>
    <th class="col-md-2"><%= Question.human_attribute_name("subject") %></th>
    <th class="col-md-2 center"><%= t "actions" %></th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr <%= "class=danger" unless question.subject %>>
      <td><%= question.created_at.strftime(Settings.h_m_s_format) %></td>
      <td><%= question.content %></td>
      <td><%= question.subject.present? ? question.subject_name : t("deleted") %></td>
      <td class="text-right">
        <%= link_to t("edit"), edit_supervisor_question_path(question), class: "btn btn-primary" %>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#confirmDeleteModal" data-path="<%= supervisor_question_path(question) %>">
          <%= t "delete" %>
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render "shared/pagy_component" %>

<%= render "shared/delete_modal", object_name: Question.model_name.human.downcase %>
