<%=form_for @test, method: :patch  do |f|%>
  <%= render "shared/error_messages", object: f.object %>
  <%if @test.doing?%>
    <div class="test form container">
      <%= render partial: "questions/question", collection: @questions, locals: {form: f} %>
    </div>
    <%= f.submit t("tests.do.submit"), class: "btn btn-primary submit-test" %>
  <% else %>
    <div class="test form container">
      <%= render partial: "questions/question", collection: @test_questions, locals: {form: f} %>
    </div>
  <% end %>
<%end%>
