<tr>
  <td><%= user.created_at.strftime(Settings.h_m_s_format) %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td style="font-size: 16px;">
        <span class="label label-<%= user.activated? ? "success" : "danger" %>">
          <%= user.activated %>
        </span>
  </td>
  <td class="text-right">
    <% unless user.is_supervisor? %>
      <% if user.activated? %>
        <%= link_to t("deactivate"), deactivate_supervisor_user_path(user),
                    method: :patch, class: "btn btn-danger" %>
      <% else %>
        <%= link_to t("activate"), activate_supervisor_user_path(user),
                    method: :patch, class: "btn btn-success" %>
      <% end %>
    <% end %>
  </td>
</tr>
