<li id="subject-<%= subject.id %>" class="subjects item">
    <div class="subjects row">
      <%= image_tag("Cloud-IT-Infrastructure-Solutions-Banner.png", size: "300x250", class: "subjects col-md-4") %>
      <div class="col-md-8 description">
        <p class="subjects title"><%= subject.name %></p>
        <p class="content"><%= subject.description %></p>
        <div class="subjects infos">
          <div class="info amount">
            <%= t("subjects.index.amount", amount: subject.question_amount) %>
          </div>
          <div class="info duration">
            <%= t("subjects.index.duration", duration: Time.at(subject.test_duration * 60).utc.strftime("%H:%M:%S"))%>
          </div>
          <div class="info pass-score">
            <%= t("subjects.index.pass_score", score: subject.pass_score)%>
          </div>
        </div>
        <%= link_to t("subjects.index.button"), subject_path(subject), class: "btn btn-primary" %>
      </div>
    </div>
</li>
