<% provide :title, @subject.name %>
<div class="subject detail">
  <%= render partial: "shared/banner", locals: {subject: @subject}%>
  <div class="container subject infos">
    <div class="course-content">
      <%= t "subjects.show.content" %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= form_for @test do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <div class="info amount">
            <%= t("subjects.show.amount", amount: @subject.questions.count) %>
          </div>
          <div class="info amount-for-test">
            <%= t("subjects.show.amount_for_test", amount: @subject.question_amount) %>
          </div>
          <div class="info duration">
            <%= t("subjects.show.duration", duration: Time.at(@subject.test_duration * 60).utc.strftime("%H:%M:%S")) %>
          </div>
          <div class="info pass-score">
            <%= t("subjects.show.requirement",requirement: @subject.pass_score) %>
          </div>
          <div><%= hidden_field_tag :subject_id, @subject.id %></div>
          <div><%= hidden_field_tag :remaining_time, @subject.test_duration %></div>
          <div><%= hidden_field_tag :start_time, Time.zone.now %></div>
          <% if current_user.present? %>
            <%= f.submit t("subjects.show.button"), class: "btn btn-primary create-test" %>
          <% end %>
        <% end %>
      </div>
      <%= image_tag("Cloud-IT-Infrastructure-Solutions-Banner.png", size: "300x280", class: "col-md-6 image") %>
    </div>
  </div>
</div>
