<% provide :title, t(".title") %>
<div class="vertical-center my-1 d-flex justify-between">
  <h3 style="display: inline-block;"><%= t ".subject_list" %></h3>
  <%= link_to t(".create_subject"), new_supervisor_subject_path, class: "btn btn-primary" %>
</div>
<table class="table">
  <thead>
  <tr class="info">
    <th class="col-md-2"><%= t "created_at" %></th>
    <th class="col-md-5"><%= Subject.human_attribute_name("name") %></th>
    <th class="col-md-1"><%= Subject.human_attribute_name("question_amount") %></th>
    <th class="col-md-1"><%= Subject.human_attribute_name("pass_score")  %></th>
    <th class="col-md-1"><%= Subject.human_attribute_name("test_duration")  %></th>
    <th class="col-md-2 center"><%= t "actions" %></th>
  </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.created_at.strftime(Settings.h_m_s_format) %></td>
        <td><%= link_to subject.name, supervisor_subject_path(subject) %></td>
        <td><%= subject.question_amount %></td>
        <td><%= subject.pass_score %>%</td>
        <td><%= subject.test_duration %></td>
        <td class="text-right">
          <%= link_to t("edit"), edit_supervisor_subject_path(subject), class: "btn btn-primary" %>
          <button type="button" class="btn btn-danger" data-toggle="modal"
                  data-target="#confirmDeleteModal" data-path="<%= supervisor_subject_path(subject) %>">
            <%= t "delete" %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav @pagy %>
<%== pagy_info @pagy %>

<%= render "shared/delete_modal", object_name: Subject.model_name.human.downcase %>
