<% provide :title, @subject.name %>

<h3 style="display: inline-block;">
  <%= @subject.name %>
  <%= link_to t("edit"), edit_supervisor_subject_path(@subject) %>
</h3>
<div class="d-flex justify-between mb-1 px-1">
  <div>
    <p><b><%= Subject.human_attribute_name("description") %>: </b><%= @subject.description %></p>
    <p><b><%= Subject.human_attribute_name("question_amount") %>: <%= @subject.question_amount %></b></p>
    <p><b><%= Subject.human_attribute_name("question_in_bank_amount") %>: <%= @subject.questions.count %></b></p>
    <p><b><%= Subject.human_attribute_name("pass_score") %>: <%= @subject.pass_score %>%</b></p>
    <p><b><%= Subject.human_attribute_name("test_duration") %>: <%= @subject.test_duration %> <%= t "minute" %></b></p>
  </div>
  <%= link_to t(".add_question"), new_supervisor_question_path(subject_id: @subject.id),
              class: "btn btn-primary align-self-end" %>
</div>

<table class="table">
  <thead>
  <tr class="info">
    <th class="col-md-2"><%= t "created_at" %></th>
    <th class="col-md-6"><%= Question.human_attribute_name("content") %></th>
    <th class="col-md-2"><%= Question.human_attribute_name("question_type") %></th>
    <th class="col-md-2 center"><%= t "actions" %></th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.created_at.strftime(Settings.h_m_s_format) %></td>
      <td><%= link_to question.content, edit_supervisor_question_path(question) %></td>
      <td><%= Question.human_attribute_name("question_type.#{question.question_type}") %></td>
      <td class="text-right">
        <%= link_to t("edit"), edit_supervisor_question_path(question), class: "btn btn-primary" %>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#confirmDeleteModal" data-path="<%= supervisor_question_path(question) %>">
          <%= t "delete" %>
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render "shared/pagy_component" %>

<%= render "shared/delete_modal", object_name: Question.model_name.human.downcase %>
