<% provide :title, t("tests.title", name: @test.subject.name) %>
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="test detail">
  <%= render(partial: "shared/banner", locals: {subject: @test.subject}) %>
  <% if @test.doing? %>
    <div id="countdown-timer">
        <div id="timer">
          <%= set_first_time_left_tick %>
        </div>
    </div>
    <div class="test form">
      <%= render "shared/test_form" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  const serverTimeLeft = Math.round(<%= get_time_left_in_second %>);
  const startClientTime = Math.floor(Date.now() / 1000);
</script>

<%= javascript_pack_tag "counter" if @test.doing? %>
